@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

.title {
    color: #00BBF9;
    font-weight: bold;
}

.link-login{
    color: #303977 !important
}


.btn-getstarted{
    border: 2px solid #00BBF9;
    border-radius: 30px;
    padding: 2px 30px 0px 30px;
    
}

.btn-getstarted a {
    color: #00BBF9;
}


.title-showcase{
    color: #1D1F2A;
}

.text-showcase{
    color: #00BBF9;
}

.text-present{
    color: #868897;
    line-height: 38px;
    font-size: 18px;
}

.img-svg{
    width: 806px;
    height: 712px;
}

.text-img{
    border: 3px solid #172C60;
    color: #0018BB;
    border-radius: 10px;
    box-shadow: -12px 12px #5479F7;
    text-align: justify;
    width: 22rem;
    padding-top: -100px;
    margin-left: 10rem;
    
}
.text-img p {
    margin: 5px;
}

.btn-conect{
  
    background-color: #0015A1;
    border-radius: 50px;
    color: #FFFFFF;
    padding: 10px 3rem 10px 3rem;
    box-shadow: -18px 0px #7BDEFF;
    
}



.text-join{
    color: #0015A1;
    font-weight: bold;
    font-size: 1.1rem;
}

/* NAV GLOBAL*/
.first-text{
    font-size: 1rem;
    color: #868897 !important;
}


.second-text {
    color: #1D1F2A;
    font-size: 1.2rem;
}

/*OptionsLayout*/



/*Cards*/

.cards {
    border: 2px solid #7C82AC !important;
    border-radius: 20px !important; 
    cursor: pointer;
}

.text-cards{
    color: #7C82AC;
}

.title-li{
    color: #1D1F2A;
}

.icon-arrow{
    width: 4rem !important;
}


/*FOOTER*/

.footer-text{
    color: #0015A1;
}

h5 .footer-text {
    color: #7C82AC;
}
   